Cython>=0.27.3
numpy==1.14.5
scipy>=1.0.0
pandas>=0.21.0
scikit-learn>=0.19.1
mlxtend>=0.9.0
#vowpalwabbit>=8.3.2
fitter>=1.0.8
annoy>=1.10.0
jupyter
ipython
ipywidgets
ipykernel
jupyter_contrib_nbextensions
jupyterlab
nbparameterise
matplotlib>=2.1.0
plotly>=2.2.1
graphviz>=0.8.1
pydot>=1.2.3
seaborn>=0.8.1
tifffile>=0.12.1
Pillow>=4.3.0
scikit-image>=0.13.1
opencv-contrib-python>=3.3.0.10
opencv-python>=3.3.0.10
nltk>=3.2.5
gensim>=3.1.0
sklearn
tensorflow-gpu==1.15
Keras>=2.1.1
keras-vis>=0.4.1
lxml>=4.1.1
PyYAML>=3.12
ujson>=1.35
sacred>=0.7.2
lime>=0.1.1.25
pprofile>=1.11.0
line-profiler>=2.0
tables>=3.4.2
h5py>=2.7.1
sharedmem>=0.3.5
tqdm>=4.19.4
keras-tqdm
virtualenv>=15.1.0
Flask>=0.12.2
pushbullet.py>=0.11.0
PyOpenSSL
oauth2client
gspread
pydub
librosa
eyed3
youtube-dl
