Cython
numpy
scipy
pandas
scikit-learn
mlxtend
#vowpalwabbit
fitter
annoy
jupyter
ipython
ipywidgets
ipykernel
jupyter_contrib_nbextensions
jupyterlab
nbparameterise
matplotlib
plotly
graphviz
pydot
seaborn
tifffile
Pillow
scikit-image
opencv-contrib-python
opencv-python
nltk
gensim
sklearn
tensorflow-gpu
Keras
keras-vis
lxml
PyYAML
ujson
sacred
lime
pprofile
line-profiler
tables
h5py
sharedmem
tqdm
keras-tqdm
virtualenv
Flask
pushbullet.py
PyOpenSSL
oauth2client
gspread
pydub
librosa
eyed3
youtube-dl
